<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>数据统计年销售量</title>
    <link rel="shortcut icon" th:href="@{/images/sql.ico}" type="image/x-icon" />
    <link th:href="@{/styles/style_sjtj.css}" rel="stylesheet"
          type="text/css">
</head>

<body>
<div id="wrapper">
    <div th:include="common/menu :: html"></div>
    <div id="main">
        <h3>统计手机年销售量：</h3>
        <form name="form1" action="" method="post">
            <label class="pp">输入年份</label>
            <input type="text" name="txt1" size="40" class="wb"/>
            <input type="button" name="btn2" value="统计" class="btn"/>
        </form>
    </div>


    <div id="footer">版权信息:&copy;河北建材信息工程系 桑丽萍 李彩云 李浩宇所有2018-2028</div>
</div>
</body>
</html>
