<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>数据统计</title>
    <link rel="shortcut icon" th:href="@{/images/sql.ico}" type="image/x-icon"/>
    <link th:href="@{/styles/style_sjtj.css}" rel="stylesheet"
          type="text/css">
    <script th:src="@{/angular/angular.min.js}" type="text/javascript"></script>
</head>

<body ng-app="app" ng-controller="huiyuantongjiController" ng-cloak>
<div id="wrapper">
    <div th:include="common/menu :: html"></div>
    <div id="main">
        <h3>统计当月注册了的会员人数：</h3>

        <table style="margin:auto; margin-top: 10px" width="800" height="210" cellspacing="1">
            <thead>
            <tr>
                <td width="175">月份</td>
                <td width="435">新增注册会员人数</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in list">
                <td>{{l.monthNum}}</td>
                <td>{{l.amount}}</td>
            </tr>
            </tbody>
        </table>
        <form name="form1" action="" method="post">
            <input type="button" name="btn2" value="查询" ng-click="click()" class="btn"/>
        </form>
    </div>


    <div id="footer">版权信息:&copy;河北建材信息工程系 桑丽萍 李彩云 李浩宇所有2018-2028</div>
</div>
<script th:src="@{/web/huiyuantongji.js}" type="text/javascript"></script>
</body>
</html>
