<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>首页</title>
    <link rel="shortcut icon" th:href="@{/images/sql.ico}" type="image/x-icon" />
    <link th:href="@{/styles/style_idx.css}" rel="stylesheet"
          type="text/css">
    <script th:src="@{/angular/angular.min.js}" type="text/javascript"></script>
</head>

<body ng-app="app" ng-controller="IndexController" ng-cloak>
<div id="wrapper">
    <div th:include="common/menu :: html"></div>

    <div id="main">
        <p>此教学辅助应用系统是根据计算机专业学生第一学期已学习了静态网页设计课程中的表单知识。第二学期开设SQL SERVER中小型数据库，为了帮助学生理解数据库技术。将SQL
            Server知识点融入到前台用网页表单设计的应用系统中，实现前后台连接，让学生课堂感受SQL知识点融入到应用系统中的效果。突显数据库SQL Server技术的实用性和灵活性。</p>
        <p>
            此应用系统帮助学生理解实际应用中为什么要学习和建立数据库、二维表及查询语句等知识。引导学生认识网页与数据库结合实现动态查询，从而激发学生学习兴趣，培养学生熟练使用T-SQL各种查询语句从数据库中获取信息的能力，体会到学有所用。提高学生对数据库和应用系统关系的认知度，让学生了解SQL
            Server这门课所处的位置的重要性。更好的提升学生学习数据库的兴趣和自主性，轻松快乐的学习，提高课堂教学效果。以便将来能与企业实际应用结合，提高学生的软件开发能力。</p>

    </div>


    <div id="footer">版权信息:&copy;河北建材信息工程系 桑丽萍 李彩云 李浩宇所有2018-2028</div>
</div>

<script th:src="@{/web/index.js}" type="text/javascript"></script>

</body>
</html>
