<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>两表联查</title>
    <link rel="shortcut icon" th:href="@{/images/sql.ico}" type="image/x-icon" />
    <link th:href="@{/styles/style_cxliangbiao.css}" rel="stylesheet"
          type="text/css">
    <script th:src="@{/angular/angular.min.js}" type="text/javascript"></script>
</head>

<body ng-app="app" ng-controller="LiangbiaolianjiechaxunController" ng-cloak>
<div id="wrapper">
    <div th:include="common/menu :: html"></div>

    <div id="main">
        <h3>两表连接查询</h3>
        <form name="form1" action="" method="post">
            <label class="pp">输入手机品牌</label>
            <input type="text" size="40" ng-model="modelParam" class="wb" />
            <input type="button" name="btn2" value="查询" ng-click="click()" class="btn"/>
        </form>
        <table width="522" border="0" cellspacing="1">
            <thead>
            <tr>
                <td width="175">手机名称</td>
                <td width="175">品牌</td>
                <td width="175">价格</td>
                <td width="175">库存</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="l in list">
                <td>{{l.mname}}</td>
                <td>{{l.unitprice}}</td>
                <td>{{l.remain}}</td>
                <td>{{l.brandname}}</td>
            </tr>
            </tbody>
        </table>
    </div>


    <div id="footer">版权信息:&copy;河北建材信息工程系 桑丽萍 李彩云 李浩宇所有2018-2028</div>
</div>
<script th:src="@{/web/liangbiaolianjiechaxun.js}" type="text/javascript"></script>
</body>
</html>
