<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>无标题文档</title>
    <link rel="shortcut icon" th:href="@{/images/sql.ico}" type="image/x-icon" />
    <link th:href="@{/styles/style_cxliangbiao.css}" rel="stylesheet"
          type="text/css">
</head>

<body>
<div id="wrapper">
    <div th:include="common/menu :: html"></div>

    <div id="main">
        <h3>两表连接查询</h3>
        <form name="form1" action="" method="post">
            <label class="pp">输入手机品牌</label>
            <input type="text" name="txt1" size="40" class="wb"/>
            <input type="button" name="btn2" value="查询" class="btn"/>
        </form>
        <table width="522" border="0" cellspacing="1">
            <tr>
                <td width="171">价格</td>
                <td width="178">库存</td>
                <td width="163">上市日期</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
        </table>
    </div>


    <div id="footer">版权信息:&copy;河北建材信息工程系 桑丽萍 李彩云 李浩宇所有2018-2028</div>
</div>
</body>
</html>
